<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="BDD_PoliMusicConnectionString" connectionString="Data Source=localhost;Initial Catalog=BDD_PoliMusic_GR2;User ID=usr_polimusic_gr2;Password=Politecnica1" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" >
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="20"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
	<location path="SignUp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
