<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--50MB=50MB*1024KB*1024B-->
		<add key="maxSongLength" value="52428800"/>
		<add key="albumImagePath" value="~/albumImages/"/>
		<add key="artistImagePath" value="~/artistImages/"/>
		<add key="userPhotoPath" value="~/userImages/"/>
		<add key="songFolderPath" value="../songFiles/"/>
		<add key="playlistFolderPath" value="~/playlistImages/"/>
	</appSettings>
	<connectionStrings>
		<add name="BDD_PoliMusicConnectionString" connectionString="Data Source=localhost;Initial Catalog=BDD_PoliMusic_GR2;User ID=usr_polimusic_gr2;Password=Politecnica1" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<!--50MB to KB-->
		<httpRuntime maxRequestLength="51200"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="20"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<pages/>
	</system.web>
	<location path="SignUp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="songFiles">
		<system.web>
			<!-- 50MB in kilobytes, default is 4096 or 4MB-->
			<httpRuntime maxRequestLength="51200"/>
		</system.web>
		<system.webServer>
			<security>
				<requestFiltering>
					<!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
					<requestLimits maxAllowedContentLength="52428800"/>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
